*{
	margin:0;
	padding:0;
	font-family:roboto,arial;
	font-size:15px;
}
a{
	text-decoration:none;
	color:white;
	font-size:15px;
}
h4{
	color:green;
	margin:5px 5px;
	font-size:15px;
}
h1{
	text-align:center;
	color:green;
	margin-top:10px;
	font-size:20px;
	font-weight:bold;
}
b{
	color:red; font-weight:bold;
	font-size:15px;
}
ul{
	list-style-type:none;
}
body{
	width:1200px;
	background-image:url('img/nen.png');
	margin:auto;
}
/**header**/
#header{
   width:100%;
   height:150px;
   background:#FFF8DC;
   box-shadow:0px 0px 1px 0px rgba(0,0,0,0.2);
}
#header-img{
	float:left;
    width:300px;
    height:90px;
    margin:5px 5px;
}
#header-img img{
	width:100%;
	height:140px;
}
/**search**/
#search{
	float:left;
	margin:5px 5px;
	width:600px;
	height:150px;
}
#search-input{
	float:left;
	margin:auto;
	margin-top:45px;
	margin-left:30px;
	width:400px;
	height:30px;
	background:lightgray;
	border:1px solid #9932CC;
}
#buttom{
	float:left;
	width:80px;
	height:32px;
	border:none;
	margin-left:5px;
	margin-top:45px;
	background:#9932CC;
	color:white;
	line-height:30px;
	transition:1s ease all;
}
#buttom:hover{
	transition:1s ease all;
	background:#008000;

}
/**buttom**/
#news{
	float:left;
	width:260px;
	height:150px;
}
#new-1{
	float:left;
	width:100px;
	margin-left:50px;
	height:40px;
	margin:45px 5px;
	background:#FF0000;
}
#new-1 li{
	float:left;
	width:100%;
	height:40px;
	border:none;
	background:#FF0000;
}
#new-1 li a{
	color:white;
	text-align:center;
	display:block;
	line-height:40px;
	width:100%;
	font-weight:bold;
	transition:1s ease all;
}
#new-1 li a:hover{
	transition:1s ease all;
	background:#0000CD;
}
#new-2{
	float:left;
	width:100px;
	height:40px;
	margin:45px 5px;
	background:#0000CD;
}
#new-2 li{
	float:left;
	width:100%;
	height:40px;
	border:none;
	background:#0000CD;
}
#new-2 li a{
	color:white;
	text-align:center;
	line-height:40px;
	display:block;
	width:100px;
	font-weight:bold;
	transition:1s ease all;
}
#new-2 li a:hover{
	transition:1s ease all;
	background:#FF0000;
}
/**menu**/
#menu{
	float:left;
	margin-top:0;
	width:100%;
	height:40px;
	background:#008080;
}
#menu li{
	float:left;
	width:150px;
	height:40px;
	position:relative;
}
#menu li a{
	color:white;
	display:block;
	text-align:center;
	line-height:40px;
	font-size:13px;
	font-weight:bold;
	transition:1s ease all;
}
#menu li a:hover{
	transition:1s ease all;
	background:#DC143C;
}
#menu li > .sub-menu{
	display:none;
	width:150px;
	text-align:center;
	background:#008080;
	opacity:0.8;
	position:absolute;
	transition:1s ease all;
}
#menu li:hover .sub-menu{
	transition:1s ease all;
	display:block;
	opacity:0.8;

}
/**post**/
#post{
	float:left;
	width:900px;
	margin-top:10px;
	margin-bottom:10px;
	height:auto;
	border:1px solid #008080; 
}
#nd{
	width:100%;
	height:auto;
	margin-bottom:10px;
}
/**mainconent**/
#content{
	width:900px;
	margin-top:10px;
	height:auto;
	margin-bottom:10px;
	border:1px solid #008080; 

}
#content-new{
	width:290px;
	float:left;
	height:290px;
	box-shadow:1px 1px 1px 1px rgba(0,0,0,0.2);
	margin:5px 5px;
	position:relative;
}
.content-img{
	float:left;
	border-radius:10px;
	width:290px;
	height:200px;
	position:relative;
}
.content-img img{
	width:280px;
	border-radius:10px;
	height:200px;
	margin:5px 5px;
	transition:1s ease all;
}
.content-img img:hover{
	transition:1s ease all;
	transform:scale(1.1);
}
#text{
	width:100px;
	height:auto;
	background:red;
	color:white;
	position:absolute;
	top:10px;
	font-weight:bold;
	text-align:center;
	right:10px;
}
.content-title{
	float:left;
	width:290px;
	height:60px;
	text-align:center;
	margin-top:10px
}
.content-excerpt{
	border-top:3px solid lightgray;
	height:30px;
	margin-bottom:20px;
	width:290px;
}
/**list**/
#list{
	width:100%;
	height:40px;
	line-height:40px;
	font-weight:bold;
	font-size:20px;
	color:white;
	text-align:center;
	background:#008080;
}
#list1{
	width:100%;
	height:40px;
	color:white;
	text-align:center;
	line-height:40px;
	font-weight:bold;
	font-size:20px;
	background:#008080;
}
/**id**/
select{
	width:150px;
	border-radius:10px;
	height:30px;
	border:1px solid lightgray;
	margin:5px 5px;
}
textarea{
	width:99%;
	margin:5px 5px;
	height:100px;
	border-radius:10px;
	border:1px solid lightgray;
}
table{
	width:99%;
	margin:5px 5px;
	border:1px solid lightgray;
}
table tr,td{
	border-collapse:collapse;
	border:1px solid lightgray;

}
thead{
	background:#008080;
	color:white;
	font-weight:bold; font-size:15px;
}
tr:nth-child(even){
	background:	lightgray;
}
caption{
	font-size:20px;
	font-weight:bold;
	color:green;
}
/**id -input**/
#title{
	width:99%;
	margin:5px 5px;
	height:30px;
	border:1px solid lightgray;
	border-radius:10px;

}
#buttom-new{
	width:100px;
	height:40px;
	line-height:40px;
	background:#008000;
	border:none;
	border-radius:10px;
	margin-bottom:10px;
	color:white;
	font-size:15px;
	font-weight:bold;
	transition:1s ease all;
}
#buttom-new:hover{
	transition:1s ease all;
	background:red;
}

/**main-right**/
#main-right{
	width:290px;
	float:right;
	margin-top:10px;
	border:1px solid #008080;
	height:auto;
}
#login{
	width:200px;
	margin:auto;
}
/**bottom**/
#bottom{
	width:1200px;
	height:80px;
	margin-top:10px;
	margin:auto;
	background:#008080;
}
strong{
	text-align:center;
	color:white;
	font-size:30px;
	font-weight:bold;
}
/**buttom**/
button{
	margin-top:10px;
	margin-bottom:10px;
    border-radius:10px;
	width:80px;
	font-weight:bold;
	height:30px;
	border:none;
	color:white;
	background:green;
	transition:1s ease all;
}
button:hover{
	transition:1s ease all;
    background:red;	

}
input{
	width:200px;
	height:30px;
	border:none;
	margin-top:10px;
	border-bottom:2px solid #008080;
}