#sider{
	margin:0px auto;
	width:600px;
	height:300px;
	position:relative;
	border:1px solid #333;
}
.side{
	width:600px;
	height:300px;
}
#prev{
	text-transform:uppercase;
	top:130px;
	left:20px;
	position:absolute;
}
#next{
	text-transform:uppercase;
	top:130px;
	right:20px;
	position:absolute;
}